@font-face {
    font-family: PoiretOne;
    src: url('/vista/assets/fonts/PoiretOne-Regular.ttf');
}
.boton_redondo Button {
	-fx-background-radius: 50;
}

#textoGrande {
	-fx-font-family: PoiretOne;
	-fx-font-size: 32;
}
